<div class="home">

  <header class="header">
    <div class="logo">
      <span class="logo-icon">⬤</span>
      PokéDex
    </div>
  </header>

  <main class="hero">
    <h1 class="title">Explora el mundo<br><span class="accent">Pokémon</span></h1>
    <p class="subtitle">
      Una enciclopedia con  <strong>todos los Pokémon</strong>.
      Busca, filtra y descubre cada especie.
    </p>
    <a routerLink="/pokedex" class="btn">Abrir Pokédex →</a>
  </main>

  <footer class="stats">
    <div class="stat">
      <span class="stat-number">1025</span>
      <span class="stat-label">Pokémon</span>
    </div>
    <div class="stat">
      <span class="stat-number">18</span>
      <span class="stat-label">Tipos</span>
    </div>
    <div class="stat">
      <span class="stat-number">Gen I - IX</span>
      <span class="stat-label">Kanto/Paldea</span>
    </div>
  </footer>

</div>
