<div class ="videojuego-box">

  <h2>Lista de Videojuegos:</h2>

  <ul>
      @for (juego of videojuegos; track juego; let i=$index) {
        <li>

          @if (editIndex === i){

            <label [for]="'editInput' + i" class="visually-hidden">
              Editar
            </label>

            <input
              [id]="'editInput' + i"
              [(ngModel)]="editNombre"
              type="text"
              placeholder="Editar videojuego"
            />
            <button type="button" (click)="guardarEdit()">
              Guargar
            </button>
            <button type="button" (click)="cancelarEdit()">
              Cancelar
            </button>

          } @else {

          <span>{{ juego }} </span>
          <button type="button" (click)="deleteJuego(i)">
            Borrar
          </button>
          <button type="button" (click)="updateJuegos(i)">
            Editar
          </button>
          }
        </li>
      } @empty {
        <li>No hay lista de videojuegos</li>
      }
  </ul>

  <label for="nuevoJuegoInput">Nuevo videojuego</label>

  <input
    id="nuevoJuegoInput"
    [(ngModel)]="nuevoJuego"
    type="text"
    placeholder="Agrega un nuevo videojuego"
  />
  <button type="button" (click)="addJuego()">
    Añadir
  </button>

  @if (mensajeError){
      <p style="color: red; margin-top: 10px;">
        {{ mensajeError}}
      </p>
  }

</div>
